body {
  margin: 0;
  padding: 0;
}

.message {
  margin: 50px;
  font-size: 20px;
}

.hello {
  margin: 50px;
  font-size: 20px;
}

h1 {
  text-align: center;
}

a{
  text-decoration: none;
}

a:hover {
  background-color: #ffcc66;
  color: white;
}

#num {
  color: red;
}

input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  height: 40px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.logo {
  font-size: 25px;
  float: left;
}

.menu {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  float:right;
}

.menu a{
  text-decoration: none;
}

main {
  margin:50px;
}

.myform {
  width: 80%;
  text-align: center;
}

.myform button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    float: right;
}

.myform button:hover{
    background-color: green;
}

.myform button:disabled{
    background-color: gray;
}

.addEvent {
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.addEvent button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    float: right;
}

.addEvent button:hover{
    background-color: green;
}

.addEvent button:disabled{
    background-color: gray;
}

.myEvent {
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.myEvent a {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    float: right;
}

.myEvent a:hover{
    background-color: green;
}

.myEvent p {
    padding: 0;
    color: white;
    margin: 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid  green;
}

li.expanded {
  color: red;
}

.eventname {
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    float: left;
}

.eventls a {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
}

.selection {
    margin:0;
    float: left;
    padding: 1px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
}

.info {
  margin: 5px;
  padding: 5px;
}

.info p{
  margin: 0;
  padding: 0;
}

.info button{
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.info button:hover{
    background-color: green;
}
