<h2 class="message" ng-show="message">{{ message }}</h2>

<div>
  <fieldset class = "logreg">
    <form name="eventform" ng-submit="addEvent()" novalidate>
        <input type="text" name="eventname" placeholder="Add an Event" ng-model="eventname" ng-required="true">
      <button type="submit" ng-disabled="eventform.$invalid">Add</button>
    </form>
  </fieldset>

  <fieldset class = "myEvent">
  <h3>My Events</h3>
  <div ng-repeat="(key, event) in events">
    <button ng-click="deleteEvent(key)">Delete this event</button>

    <a ng-href="#/checkin/{{currentUser.$id}}/{{event.$id}}"><span>Check In</span></a>
    <a ng-href="#/checkin/{{currentUser.$id}}/{{event.$id}}/checkinlist"><span>View Checkins</span></a>

    <span>{{event.name}}</span>

  <fieldset>


</div>
